.content-home {
    padding-bottom: 70px; 
    padding-left: 1rem;
    padding-right: 1rem;
}

.titles-home {
    @apply font-bold text-slate-800 text-3xl p-5 md:text-4xl
    
}

.main-section-home {
    @apply  justify-center items-center md:columns-2 md:flex
}

.text-main-section {
    @apply align-middle flex-wrap
}

.p-main-section {
    @apply p-5 align-text-bottom
}

.btnHome {
    margin-left: 20px;
    @apply inline-flex items-center justify-center rounded-md p-2.5 text-white bg-blue-500 hover:bg-blue-800
}

.imgExample {
    object-fit: fill;
    @apply align-middle items-center justify-center p-2.5 mt-3 md:mt-0 md:p-0 w-2/3 md:w-1/2
}