.container-navbar{
  z-index: 1000;
  @apply sticky top-0 
}


.navbar {
  @apply px-2 sm:px-6 lg:px-8 flex h-16 items-center justify-between bg-slate-800 text-white relative
}

.profile-icon {
    width: 2.5rem;
}


.profile-dropdown-container {
    position: relative;
    cursor: pointer;
    right: 0;
    margin: 0;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    box-shadow: rgba(0, 0, 0, 0.1);
    z-index: 1000;
    @apply bg-slate-800 block w-40 rounded-md text-center md:-right-8 lg:-right-8

}
  
  .dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  .dropdown-menu li {
    padding: 8px;
    cursor: pointer;
    list-style: none; 
  }
  
  .dropdown-menu li:hover {
    @apply hover:bg-slate-200 text-slate-800 rounded-md 
  }
  
